@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


/* body {
  margin: 0;
  padding: 0;
  background-color:darkslategray;
  width: 100vw;
  
  background-image: bg-gradient-to-r from-purple-500 to-purple-900;

  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
} */

body {
  margin: 0;
  padding: 0;
  width: 100vw;



  background-image: linear-gradient(to right, #14171A,#6930C3 );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background{
  width: 100vw;
  height: 150dvb;
  background-image: linear-gradient(to right, #14171A,#6930C3 );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pagebackground{
  width: 100vw;

  background-image: linear-gradient(to right, #14171A,#6930C3 );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .infobackground{
  width: 100vw;
  background-image: linear-gradient(to right, #14171A,#6930C3 );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */