@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600;700&family=Carter+One&family=Caveat:wght@500;600;700&family=Kanit:ital,wght@0,400;0,500;0,700;1,400;1,600&family=Nabla&family=Righteous&display=swap");






@tailwind base;
@tailwind components;
@tailwind utilities;





/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


/* body {
  margin: 0;
  padding: 0;
  background-color:darkslategray;
  width: 100vw;
  
  background-image: bg-gradient-to-r from-purple-500 to-purple-900;

  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
} */

/* body {
  margin: 0;
  padding: 0;
  width: 100vw;

  
  background-image: linear-gradient(to right, #3b0764, #6930C3  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background{
  width: 100vw;
  height: 180dvb;
  
  background-image: linear-gradient(to right, #3b0764, #6930C3  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.pagebackground{
  width: 100vw;
  height: 280dvb;
  

  background-image: linear-gradient(to right,#3b0764,#6930C3 );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* grid styling */
/* use {
  transition: 0.4s;
  cursor: pointer;
  fill: transparent;
}
.pod-wrap use:hover {
  fill: #000000;
} */

/* other styling */




